@media screen and (max-width:1200px) {
    .steps {
        .steps_list {
            li {
                &.dotsleft {
                    &::after {
                        width: 350px;
                        height: 100px;
                    }
                }
                &.dotsright {
                    &::after {
                        width: 350px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1110px) {
    .steps {
        .steps_list {
            li {
                &.dotsleft {
                    &::after {
                        width: 280px;
                        height: 100px;
                    }
                }
                &.dotsright {
                    &::after {
                        width: 280px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .choose_section .flex .pic_wrap {
        .pic2 {
            margin-left: 0;
        }
        .pic1 {
            margin-right: 0; 
        }
    }
    .steps .steps_list {
        padding: 0;
    }
    footer {
        padding-top: 80px;
    }
}
@media screen and (max-width:992px) {
    .choose_section {
        padding: 80px 0;
    }
    .spain {
        padding: 100px 0;
    }
}
@media screen and (max-width:800px) {
    .steps {
        .steps_list {
            li {
                &.dotsleft {
                    &::after {
                        width: 240px;
                        height: 100px;
                    }
                }
                &.dotsright {
                    &::after {
                        width: 240px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    #nav{
        .logo-link {
            width: 50%;
        }
        .navbar {
            display: none;
            &.active_on_touch {
                display: block;
                padding: 30px 0;
                li {
                    margin: 15px 0;
                }
            }
        }
    }
    .burger-wrap{
        .nav-burger {
            display: block !important;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 110;
            top: 0;
            right: 0;
            float: right;
            &.active_on_touch {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                    }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                    }
                    span {
                        transform: scale(0);
                    }
            }
            &::before, &::after {
                content: '';
                background-color: $white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                position: absolute;
                background-color:  $white;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
        }
    }
           
    .choose_section {
        .flex {
            flex-wrap: wrap;
            .choose_us 
            h2 {
                padding-top: 0;
            }
        .choose_us, .pic_wrap {
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            }
            .pic_wrap {
                padding: 0;
                margin-top: 30px;
                justify-content: space-between;
                .pic1, .pic2 {
                    width: calc(50% - 30px);
                    margin: 0 15px;
                    img {
                        border: 3px solid $main_dark;
                    }
                }
            }
        }
    }
    .steps {
        padding: 50px 0;
        .steps_list {
            justify-content: space-evenly;
            li {
                &.dotsleft {
                    &::after {
                    display: none;
                    }
                }
                &.dotsright {
                    &::after {
                        display: none;
                    }
                }
                i {
                    font-size: 4rem;
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
    .btnwrap {
        justify-content: center;
    }
    .spain 
    {
        background-size: cover;
        .block_wrap {
            .offer {
                width: 100%;
            }
        }
    }
    .review {
        background-size: cover;
        padding: 80px 0;
        .fullsize {
            display: none;
        }
        
    }
    footer {
        padding-top: 40px;
    }
}
@media screen and (max-width:480px) {
    .choose_section .flex {
        .choose_us 
        {
            .text-content {
                padding: 30px 0 0;
            }
            h2 {
                text-align: center;
            }
        }
        .pic_wrap {
            .pic1, .pic2 {
                width: 100%;
                margin: 5px 0;
            }
        }
    }
    header .search-field{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        input {
           width: 100%;
       }
    }
    .steps .steps_list {
        justify-content: space-between;
    }
    .review .avatar {
        width: 60px;
        margin-right: 15px;
    }
}
@media screen and (max-width:360px) {

    .steps {
        .steps_list {
            display: block;
            li {
                margin: 20px 0;
            }
        }
    }
    .review h2 {
        font-size: 2.8rem;
        text-align: center;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:320px) {
    header .subtitle {
        font-size: 1.8rem;
    }
    .spain .button {
        padding: 20px 35px;
    }
    .review .review-content .review_wrap {
        padding: 20px;
        .avatar {
            margin-right: 15px;
            margin-bottom: 10px;
            width: 50px;
        }
    }
}