@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');

// Fonts
$josefin: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;

// Color
$white: #ffffff;
$main: #5474fd;
$main_dark: #3c54bd;
$btnhover: #496bfe;
$like: #00a2ff;
$search: #5474fd;
$select: #ff6363;
$brown: #333333;
$footer: #232323;